html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a855f7;
  padding: 25px;
  box-sizing: border-box;
}
.container {
  width: 30vw;       /* 30% of viewport width */
  max-width: 400px;   /* max size on big screens */
  height: 30vw;       /* same as width for square */
  max-height: 400px;  /* max size on big screens */
  border: 1px solid black;
  background-color: #fdf2f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qn {
  margin: 1rem 0;
  text-align: center;
  font-weight: 200;
}

.btns {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
}

.btn1, .btn2 {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.btn1 { background-color: pink; }
.btn2 { background-color: grey; }

.sim {
  display: none;
  width: 200px;
  height: 200px;
}

.sim img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pop {
  display: none;
  position: absolute;
  top: 250px;
  left: 55px;
}

/* Media query for mobile */
@media (max-width: 480px) {
  body {
    padding: 10px;
  }
  .container {
    width: 70%;
    height: auto;
  }

  .btn1, .btn2 {
    width: 45%;
  }

  .qn {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  .sim {
    width: 70%;
    height: auto;
  }
}
