body {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a855f7;
  flex-direction: column;
}

.container {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: #fdf2f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qn {
  margin: 1rem 0; /* top-bottom margin relative */
  text-align: center;
  font-weight: 200;
}

.btns {
  display: flex;
  gap: 10px; /* space between buttons */
  justify-content: center;
  margin-top: 1rem;
}

.btn1, .btn2 {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.btn1 { background-color: pink; }
.btn2 { background-color: grey; }

.sim {
  display: none;
  width: 200px;
  height: 200px;
}

.sim img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pop {
  display: none;
  position: absolute;
  top: 250px;
  left: 55px;
}

/* Media query for mobile */
@media (max-width: 480px) {
  .container {
    width: 70%;
    height: auto;
  }

  .btn1, .btn2 {
    width: 45%;
  }

  .qn {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  .sim {
    width: 70%;
    height: auto;
  }
}
  
